.work-experience-card {
    background: #130f2a;
    border-radius: 0.65rem;
    border: 1.5px solid #6751b9;
    padding: 1.5rem;
    margin: 0 1rem;
}

.work-experience-card h6 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.8rem;
}

.work-duration {
    display: inline-block;
    font-size: 0.7rem;
    font-weight: 400;
    background: #2a2252;
    border-radius: 0.3rem;
    padding: 0.4rem 0.6rem;
    margin-bottom: 1.3rem;
}

.work-experience-card ul li {
    list-style: none;
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 1rem;
    position: relative;
}

.work-experience-card ul li::after {
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    background-color: #6852ba ;
    position: absolute;
    border-radius: 0.5rem;
    left: -1.3rem;
    top: 0.35rem;
}

.project-img {
    width: 28rem;
    height: 16rem;
    margin-left: 10%;
}



@media only screen and (max-width: 768px) {
    .work-experience-card {
        width: 90%;
        margin: 0 auto;
        padding: 1rem;
    }

    .project-img {
        width: 100%;
        height: auto;
        margin-left: 0;
    }

    .work-experience-card h6 {
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
    }

    .work-duration {
        font-size: 0.7rem;
        margin-bottom: 0.5rem;
    }

    .work-experience-card ul li {
        font-size: 0.8rem;
        margin-bottom: 0.8rem;
    }
}